.people-component {
  .navbar-form {
    .form-group {
      margin-right: 10px;
    }
    label {
      margin-right: 3px;
      user-select: none;
    }
  }
  .delete-cell {
    &.toggle {
      .choose {
        display: block;
      }
      .delete {
        display: none;
      }
    }
    .choose {
      display: none;
    }
  }
}